*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
/distribution/libs
/Dependencieslib/src/main/obj
/Dependencieslib/src/main/libs
/app/libs
.externalNativeBuild
.cxx
local.properties
/opencv